{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
  <div style="margin-left:2rem">
    <h1>Page not found</h1>
    <p>
      The requested page couldn't be located. Checkout for any URL
      misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
  </div>

{% endblock %}
