{% extends'admin/genus/form_layout.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Edit Genus</h1>
        {{ include('admin/genus/_form.html.twig') }}
      </div>
    </div>
  </div>
{% endblock %}