<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}AquaNote!{% endblock %}</title>

  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="search-bar">
  <form method="GET" action="" class="js-sea-search sea-search">
    <input type="search" name="q" placeholder="Search Sea Creatures"
           autocomplete="off" class="search-input">
  </form>
</div>
<header class="header">
  <img class="logo-icon" src="{{ asset('images/aquanote-logo.png') }}">
  <h1 class="logo"><a href={{ path('homepage') }}>AquaNote</a></h1>
  <ul class="navi">
    <li><a href="{{ path('homepage') }}">Home</a></li>
    <li><a href="{{ path('genus_list') }}">Genuses</a></li>
    <li class="search"><a href="#" class="js-header-search-toggle"><i
          class="fa fa-search"></i></a></li>
    {% if not is_granted('ROLE_USER') %}
      <li><a href="{{ path('security_login') }}">Login</a></li>
    {% else %}
      <li><a href="{{ path('security_logout') }}">Logout</a></li>
    {% endif %}
  </ul>
</header>

<div class="main-content">
  {# Message is set in GenusAdminController:newAction() #}
  {% for msg in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
      {{ msg }}
    </div>
  {% endfor %}

  {% block body %}{% endblock %}
</div>

<div class="footer">
  <p class="footer-text">Made with <span class="heart"><3</span> <a
      href="https://knpuniversity.com">KnpUniversity</a></p>
</div>

{% block javascripts %}
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>
