{% extends 'base.html.twig' %}

{% block title %}Genus List {% endblock %}

{% block body %}

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Genus</th>
      <th>Number of species</th>
      <th>Last updated</th>
    </tr>
    </thead>
    <tbody>
    {% for genus in genuses %}
      <tr>
        <td>
          {# Link to show individual genus content #}
          <a href="{{ path('genus_show', {'genusId' : genus.id }) }}">
            {{ genus.name }}&nbsp;({{ genus.id }})
          </a>
        </td>
        <td>
          {{ genus.speciesCount }}
        </td>
        <td>
          {{ genus.updatedAt|date('Y-m-d') }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}